.catalog {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px 200px;
}

.container-product {
  display: flex;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 430px;
  height: 250px;
  padding: 25px 20px;
  box-sizing: border-box;
}

.container-product__image {
  height: 200px;
  width: 215px;
  border-radius: 3px;
}

.container-product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.container-product__info__title {
  max-width: 145px;
}

.container-product__info__price {
  margin-top: auto;
  margin-bottom: 10px;
}

.container-product__info__link {
  text-decoration: none;
}
